.bottomAlignRow div {
  position: relative;
  padding-bottom: 50px;
}
.bottomAlignRow div>a {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 15px;
}
#develop-plateforms {
  background-color: rgba(61,174,233,.1)
}
#kirigami {
  background-color: rgba(218,68,83,.07);
}
main section {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
#top {
  background: rgb(1,212,134);
  background: linear-gradient(128deg, rgba(1,212,134,1) 0%, rgba(61,174,232,1) 100%); 
  text-shadow: 0 0 0px #fff;
  color: white;
  padding-bottom: 100px;
}

#top p {
  font-size: 22px;
  font-weight: 200;
  line-height: 2.5;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.kde-logo-big {
  background-color: inherit;
  font-family: glyph;
  font-size: 7em;
}

.block-navs {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: -100px;
}

.tools {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.tool {
  padding: 40px 10px;
  flex-basis: 50%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tool, .block-nav {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tool:hover, .block-nav:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.tool > img, .tool > div {
  flex-basis: 50%;
  color: black;
}

.tool .img {
  vertical-align: middle;  
}
.tool img {
  width: 128px;
  height: auto;
}

.block-nav, .shadow {
  display: block;
  position: relative;
}

.block-nav {
  top: -30px;
  margin-left: 20px;
  padding: 20px;
  max-width: 250px;
  margin-right: 20px;
  background-color: white;
}

a.block-nav:hover, a.shadow:hover {
  transform: translateY(-1vh);
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

.block-nav *, .block-nav *:hover {
  color: rgba(0, 0, 0, 0.9);
}

.block-nav i {
  font-size: 3em;
  color: rgba(0, 0, 0, 0.7);
}

.block-nav:nth-child(2) {
  top: -70px;
}

.list-inline-item .learn-more::after {
  padding-left: 0.3em;
  margin-right: 0.7em;
}

main h1 {
  font-size: 48px;
  letter-spacing: -0.25px;
}

main h2 {
  font-size: 28px;
  letter-spacing: -0.25px;
}

main h3 {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.25px;
  color: rgba(0, 0, 0, 0.9);
}

.more-apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.more-apps a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-top: 2rem;
}


.more-apps img {
  width: 64px;
  max-widht: 100%;
}

@media (max-width:1100px) {
  .block-navs {
    flex-direction: column;
    align-items: center;
    margin-bottom: -150px;
  }

  .block-nav:nth-child(2), .block-nav {
    top: -90px;
    margin-top: 40px;
    width: 90%;
    max-width: 90%;
  }

  .phone-with-overlay {
    width: 30%;
    left: -70px;
  }

  .tools, .tool-one {
    flex-direction: column;
  }

  .tools .tool {
    margin-top: 3rem !important;
  }

  .tool:not(.tool-multiple) div:nth-child(2) {
    order: -1;
  }
}

@media(prefers-color-scheme:dark) {
  .tool,
  .block-nav {
    background-color: #31363b;
  }
  main h1,
  .block-nav *,
  .tool * {
    color: #f1f1f1 !important;
  }
}

.icons-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  img {
    width: 96px;
    height: 96px;
    margin-bottom: 1rem;
  }

  i {
    font-size: 300%;
  }
}

.icons-grid-small img {
  width: 64px;
  height: 64px;
}

#develop-hero {
  background-image: url(https://kde.org/content/develop/devApps.png)
}

.kirigami-devices {
  align-self: center;
  height: 500px;
  @media (max-width: 700px) {
    height: 200px;
  }
}

.terminal {
  background-color: #232627;
  color: #fcfcfc;
}

.kirigami-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: none;
  background: url('/kirigami/kirigami-icon.svg') no-repeat,
    linear-gradient(144.64deg, #E93A9A 0%, #E9643A 64.86%, #EF973C 100%);
  background-position: bottom left, right;
  background-size: contain;
  background-origin: border-box ;
  min-height: 150px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
  text-shadow: 2px 2px 7px #222;
  margin-left: -15px;
  margin-right: -15px;

  h1 {
    color: #fafafa !important;
    font-size: 32px !important;
    line-height: 120%;
    background-image: none !important;
  }

  .header-logo{
    font-family: glyph;
    font-size: 4rem !important;
    margin-bottom: 1rem;
    width: 100%
  }
}

